<div class="flash-container" id="success-flash">
  <p class="flash paragraph">
    Thanks for the order! You will receive a confirmation soon at the email you provided.
  </p>
</div>
<div class="error flash-container" id="error-flash">
  <p class="flash paragraph">
    Oops - Something went wrong! Please try again or email <b>support@posterluv.com</b> if you continue to have issues.
  </p>
</div>
