<div class="column-2 w-col w-col-5 w-col-small-small-stack w-col-stack">
  <div class="step-div">
    <h3 class="heading">Step 1</h3>
    <h1 class="heading-2">Enter Instagram URL</h1>

    <div class="form-block w-form">
      <form id="picture-form">
        <div class="form-input-single-line">
          <input type="text"
                 class="form-input w-input"
                 maxlength="256"
                 autofocus="true"
                 placeholder="https://www.instagram.com/p/BaUq7nIlRf7"
                 id="Instagram-URL">
          <button class="submit-button"
                  type="button"
                  onClick="new InstagramPostFetcher(this).fetch();">
            Got It
          </button>
        </div>
      </form>
    </div>

    <p class="paragraph">
      Psst... if the instagram post is from a private account, I won't be able to get the data. Private post integration is coming soon!
    </p>
  </div>

  <div class="step-div">
    <h3 class="heading">Step 2</h3>
    <h1 class="heading-2">Buy a Print</h1>
    <div class="form-block w-form">
      <form action="/purchases" method="POST">
        <div class="purchase-inputs">

          <!-- Print size drop down -->
          <div class="form-input-no-button">
            <label class="field-label">Print Size</label>
            <select id="print-size" class="print-size-dropdown w-select">
              <option data-size="12 x 16" data-amount="2600">12 x 16 inches - $26.00</option>
              <option data-size="18 x 24" data-amount="3400">18 x 24 Inches - $34.00</option>
              <option data-size="48 x 72" data-amount="8900">48 x 72 inches - $89.00</option>
              <option data-size="90 x 150" data-amount="19900">90 x 150 inches - $199.00</option>
            </select>

            <p class="paragraph">
              Price includes shipping!
            </p>
          </div>

          <!-- Customer name input -->
          <div class="form-input-no-button">
            <label class="field-label">Name</label>
            <input type="text" class="form-input w-input" placeholder="Name" id="customer-name">
          </div>

          <!-- Shipping address input -->
          <div class="form-input-no-button">
            <label class="field-label">Shipping Address</label>
            <input type="text" class="form-input w-input" placeholder="Start typing your address" id="shipping-address">

            <%# <p class="paragraph"> %>
            <%#   Start typing your address and then choose from the dropdown. %>
            <%# </p> %>
          </div>

        </div>

        </form>

        <script src="https://checkout.stripe.com/checkout.js"></script>
        <button class="submit-button"
                type="button"
                id="key-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                onclick="new PurchaseProcessor().process()">
          Buy Now
        </button>
      </form>
    </div>
  </div>
</div>
