<div class="column-2 w-col w-col-5 w-col-small-small-stack w-col-stack">
  <div class="step-div">
    <h3 class="heading">Step 1</h3>
    <h1 class="heading-2">Enter Instagram URL</h1>

    <div class="form-block w-form">
      <form id="picture-form">
        <div class="form-input-single-line">
          <input type="text"
                 class="form-input w-input"
                 maxlength="256"
                 autofocus="true"
                 placeholder="https://www.instagram.com/p/BaUq7nIlRf7"
                 id="Instagram-URL">
          <input value="Got It"
                 class="submit-button w-button"
                 onClick="new InstagramPostFetcher().fetch();">
        </div>
      </form>
    </div>

    <p class="paragraph">
      Psst... if this link (github.com/dhh) doesn&#x27;t go to a user&#x27;s page or a public repo, I won&#x27;t be able to get the data. There are ways to get private repos, check the FAQ for those.
    </p>
  </div>

  <div class="step-div">
    <h3 class="heading">Step 2</h3>
    <h1 class="heading-2">Buy a Print</h1>
    <div class="form-block w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="purchase-inputs">
          <div class="form-input-no-button">
            <label for="field" class="field-label">Print Size</label>
            <select id="field" name="field" class="print-size-dropdown w-select">
              <option value="12x16">12 x 16 inches - $26.00</option>
              <option value="18x24">18 x 24 Inches - $34.00</option>
              <option value="48x72">48 x 72 inches - $89.00</option>
              <option value="158x234">158 x 234 - $199.00</option>
            </select>
            <p class="paragraph small">Price includes shipping!</p>
          </div>
          <div class="form-input-no-button">
            <label for="Name-4" class="field-label">Name</label>
            <input type="text" class="form-input w-input" maxlength="256" autofocus="true" name="Name" data-name="Name" placeholder="Name" id="Name-4">
            <p class="paragraph small">You can put your apartment, flat, or suite number here too, if you have one. Eg: &quot;Aaron Francis, Apt 100&quot;.</p>
          </div>
          <div class="form-input-no-button">
            <label for="Address" class="field-label">Shipping Address</label>
            <input type="text" class="form-input w-input" maxlength="256" autofocus="true" name="Address" data-name="Address" placeholder="Start typing your address" id="Address">
            <p class="paragraph small">Start typing your address and then choose from the dropdown.</p>
          </div>
        </div>
        <input type="submit" value="Buy Now" data-wait="Please wait..." class="submit-button w-button">
      </form>
    </div>
  </div>
</div>
