<div class="column w-col w-col-7 w-col-small-small-stack w-col-stack">
  <div class="preview-container">
    <div class="poster-container">
      <div class="poster-top w-clearfix">
        <div class="poster-user-icon">
          <img src="images/rp.jpg" width="40" class="image-2" id="profile-pic">
          <p class="blue instagram-poster-top" id="username">rastayjay92</p>
        </div>
        <div class="poster-top-time">
          <img src="images/watch-1.png" width="12">
          <p class="instagram-poster-top small-left-margin" id="weeks-ago">5w</p>
        </div>
      </div>
      <div class="poster-image">
        <img src="images/ig3.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 395.1875px, 28vw" id="display-pic">
      </div>
      <div class="poster-bottom">
        <div class="likes-div"><img src="images/heart-black-shape-for-valentines.png" width="15">
          <p class="instagram-text likes" id="like-count">276 likes</p>
        </div>
        <div class="poster-text">
          <p class="instagram-text"><span class="username">richardprince_2</span> You still lookin just as good! &lt;3 <span class="at-username">@tonyshafrazi</span></p>
          <p class="instagram-text"><span class="username">yvonnef</span> Heck yeah! Thanks for the like :)</p>
        </div>
      </div>
    </div>
  </div>
</div>
