<%= render partial: "layouts/header" %>

<div class="section">
  <div class="wide-container">
    <div class="w-row">

      <%= render partial: "form" %>
      <%= render partial: "preview" %>

    </div>
  </div>
</div>
