<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="container w-container">
    <a href="#" class="brand w-nav-brand">
      <img src="images/melt-logo.png" width="75" srcset="images/melt-logo-p-500.png 500w, images/melt-logo-p-800.png 800w, images/melt-logo-p-1080.png 1080w, images/melt-logo.png 2133w" sizes="(max-width: 479px) 84vw, 75px" class="image">
    </a>
  </div>
</div>
