<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="container w-container">
    <%= link_to root_path, class: "brand w-nav-brand" do %>
      <img src="images/logo.png" width="250" class="image">
    <% end %>
  </div>
</div>
